body {
    padding-top: 70px;
}

.jumbotron {
    color: #4F0D7A;
    background: #F3E6FB;
}

.navbar-inverse {
    background: #6E3792; 
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}